<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>selection inner color</key>
	<array>
		<integer>87</integer>
		<integer>143</integer>
		<integer>204</integer>
	</array>
	<key>selection outer color</key>
	<array>
		<integer>184</integer>
		<integer>226</integer>
		<integer>253</integer>
	</array>
	<key>hover inner color</key>
	<array>
		<integer>118</integer>
		<integer>190</integer>
		<integer>239</integer>
	</array>
	<key>hover outer color</key>
	<array>
		<integer>184</integer>
		<integer>226</integer>
		<integer>253</integer>
	</array>
</dict>
</plist>
